body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: red;
}

.counter-container {
    text-align: center;
    background-color: grey;
    padding: 80px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}